@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #ffffff;
  --background-secondary: #f7f9fb;
  --text-primary: #2c3e50;
  --accent: #1abc9c;
  --border: #d5d8dc;
  --hover: #16a085;
}
.dark {
  --background-primary: #0a0a0a;
  --background-secondary: #1e1e1e;
  --text-primary: #ecf0f1;
  --accent: #1abc9c;
  --border: #2c3e50;
  --hover: #16a085;
}

@layer base {
  body {
    @apply bg-custom-background-primary text-custom-text-primary;
    @apply transition-colors duration-300;
  }
  header{
    @apply sticky top-0 z-[20] flex w-full justify-between items-center p-4;
  }
}

@layer components {
  .nav-link {
    @apply text-custom-text-primary no-underline relative pb-1; /* Basic styling for nav links */
  }

  .nav-link.active {
    @apply text-custom-text-primary; /* Active link color */
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%; /* Initial width of the underline */
    height: 2px; /* Thickness of the underline */
    @apply bg-custom-accent; /* Color of the underline */
    transform: translateX(-50%); /* Center the underline horizontally */
    transition: width 0.3s ease; /* Smooth transition for the underline */
  }

  .nav-link.active::after {
    width: 100%; /* Expand underline when the link is active */
  }
}
